@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
      all: unset;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

ul {
  list-style: none;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.bg-transition {
  transition: background-color 0.7s linear;
}

input[type='radio'] {
  accent-color: #664DE5;
}



@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-[10px] py-[15px];
  }

  .padding-x-container {
    @apply px-[10px];
  }  
}
